<%- include("./partials/head")  %> 
  <style>
      body{
    padding: 40px 3%;
  }
  i {
    color: #0D6efd;
    font-size: 100px;
    line-height: 200px;
  }

  .circle{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background: white;
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 660px;
    margin: 0 auto;
  }
  </style>

  <body>
    <div class='card'>
      <div class="circle"
        style='border-radius:200px; height:200px; width:200px; background: #a7caff; margin:1rem auto;'
      >
        <i class='checkmark'>
          ✓
        </i>
      </div>
      <h1>
        Exito
      </h1>
      <p>
        El usuario fue creado con exito,
        <br />
        se enviaron los datos por mail!
      </p>
      <a href='/'>
        <button type="button" class="btn btn-primary">
          Volver
        </button>
      </a>
    </div>
  </body>
</html>